@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu';
}
:root{
  /* --navy-blue:#1A5C7F; */
  --navy-blue:#183060 ;
  --navy-blue-light:#2A95D0;
  --white:#ffff;
  --white-grey:#FCFCFC;
}
html{
  scroll-behavior:smooth;
}
nav{
  color: white;
  font-weight: 700;
  display: flex;
  position:fixed;
  background: linear-gradient(0deg, rgba(24, 48, 96, 0.79), rgba(24, 48, 96, 0.79));
  top:0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 60;
}
nav .logo{
  background: url('../media/Globilink\ Logo\ 1.png');
  width: 137px;
  height: 100px;
}
nav ul{
  list-style: none;
  display: flex;
  padding-top: 30px;
  position: absolute;
  right: 50px;
}
nav ul li{
  padding-left: 30px;
  cursor: pointer;
  text-transform: uppercase;
}
nav ul li:hover,nav ul li a:hover{
  font-size: larger;
  color: var(--white-grey);
}
nav .show-menu{
  display: none;
  font-size: 25px;
  position: fixed;
  right: 30px;
}
.nav-menu-bg{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 100;
  background:  none;
}
.nav-menu{
  z-index: 110;
  position: fixed;
  top: 0;
  right: 0;
  height: fit-content;
  
  background: var(--white-grey);
  padding: 40px 50px;
}
.nav-menu ul{
  text-align: left;
  list-style: none;
}
.nav-menu ul li{
  cursor: pointer;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  padding: 35px 0 0 0;
  text-transform: uppercase;
}
.nav-menu ul li:hover,.nav-menu ul li a:hover{
  font-size: 19px;
}

.hero-image{
  padding-top: 35vh;
  padding-left: 4%;
  height: 80vh;
  color: var(--white);
  text-align: center;
  background: url('../media/hero-image.png') no-repeat center;
  background-size: cover;
}
.hero-image .hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-image h1{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 55px;
  font-weight: 400;
  font-size: 2vw;
  letter-spacing: 3px;
  line-height: 55px;
  text-align: center;
}
.blue{
  color: var(--navy-blue-light);
}
.hero-image p{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.02em;
}
.hero-image button{
  margin: 20px 0;
  width: 150px;
  height: 50px;
  background: var(--navy-blue-light);
  border-radius: 10px;
  line-height: 28px;
  color: var(--white-grey);
  cursor: pointer;
  border: none;
}
.hero-image .move-down-img{
  margin-top: 60px;
  cursor: pointer;
  width: 30px;
}
.hero-image .move-up-img{
  margin-top: 60px;
  cursor: pointer;
  width: 30px;
  transform: rotate(180deg);
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: var(--navy-blue);
}
.plans ul,.plans1 ul{
  margin-top: 20px;
}
.plans li, .plans1 li{
  list-style: none;
  font-size: small;
}
.plans li img, .plans1 li img{
  margin-right: 10px;
}
.plans{
  display: none;
  padding-top:30px;
  height: 742px;
  background: rgba(255, 255, 255, 0.91);
}
.plans h1{
  margin: 0 auto;
  width: 350px;
  text-align: center;
  height: 55px;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.02em;
}
.plans-button{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.plans-button .btn1{
  background: var(--navy-blue);
  border-radius: 10px;
  line-height: 28px;
  color: var(--white-grey);
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: none;
}
.plans-button .btn2{
  background: var(--white-grey);
  border-radius: 10px;
  color: var(--navy-blue);
  cursor: pointer;
  width: 150px;
  border: 1px solid var(--navy-blue);
  height: 50px;
  margin-left: 41px;
}
.plans .grid-plans{
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(3,1fr);
  padding: 30px 0 58px 0;
}
.grid-plans .grid-item-plan1,.grid-item-plan2,.grid-item-plan3{
  width: 300px;
  margin-left: 20px;
  height: 483.81px;
  border-radius: 11.3836px;
}
.grid-item-plan1, .grid-item-plan3{
  text-align: center;
  padding: 25px 40px 23px 40px;
  background: var(--white-grey);
  border: 1.13836px solid var(--navy-blue);
  box-shadow: 0px 1.13836px 1.13836px rgba(0, 0, 0, 0.25);
}
.grid-item-plan1 img, .grid-item-plan3 img{
  margin: 0 0 0 5px;
  width: 20px;
  height: 20px;
}
.grid-item-plan2 img{
  margin: 0 0 0 5px;
  width: 20px;
  height: 20px;
}
.grid-item-plan2{
  text-align: center;
  padding: 25px 40px 23px 40px;
  background: var(--navy-blue);
  border: 1.13836px solid var(--white);
  color: var(--white);
  box-shadow: 0px 1.13836px 1.13836px rgba(0, 0, 0, 0.25);
}
.grid-plans h2{
  font-weight: 400;
  font-size: 22.7673px;
  line-height: 26px;
  letter-spacing: 0.02em;
}
.grid-plans .content{
  text-align: left;
  box-sizing: border-box;
  width: 280px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.grid-plans .btn1{
  margin-top: 35px;
  background: var(--navy-blue);
  border-radius: 10px;
  line-height: 28px;
  color: var(--white-grey);
  cursor: pointer;
  width: 280px;
  height: 50px;
  border: none;
}
.grid-plans .btn2{
  margin-top: 35px;
  background: var(--white-grey);
  border-radius: 10px;
  color: var(--navy-blue);
  cursor: pointer;
  width: 280px;
  border: 1px solid var(--navy-blue);
  height: 50px;
}
.contact-list{
  margin-top: 50px;
}
.contact-list li{
  margin-top:20px;
  list-style:none;
}

.plans1{
  padding-top:30px;
  height: 742px;
  background: #0D212D;
}
.plans1 h1{
  margin: 0 auto;
  text-align: center;
  width: 350px;
  height: 55px;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.02em;
  color: var(--white-grey);
}
.plans1-button{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.plans1-button .btn2{
  background: var(--white-grey);
  border-radius: 10px;
  color: var(--navy-blue);
  cursor: pointer;
  width: 150px;
  border: 1px solid var(--navy-blue);
  height: 50px;
}
.plans1-button .btn1{
  background: var(--navy-blue);
  border-radius: 10px;
  line-height: 28px;
  color: var(--white-grey);
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: none;
  margin-left: 41px;
}
.plans1 .grid-plans1{
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(3,1fr);
  padding: 30px 100px 58px 80px;
}
.grid-plans1 .grid-item-plan1,.grid-plans1 .grid-item-plan2,.grid-plans1 .grid-item-plan3{
  width: 300px;
  margin-left: 20px;
  height: 483.81px;
  border-radius: 11.3836px;
}
.grid-plans1 .grid-item-plan1,.grid-plans1 .grid-item-plan3{
  text-align: center;
  padding: 25px 40px 23px 40px;
  background: var(--white-grey);
  border: 1.13836px solid var(--navy-blue);
  box-shadow: 0px 1.13836px 1.13836px rgba(0, 0, 0, 0.25);
}
.grid-plans1 .grid-item-plan2{
  text-align: center;
  padding: 25px 40px 23px 40px;
  background: var(--navy-blue);
  border: 1.13836px solid var(--white);
  color: var(--white);
  box-shadow: 0px 1.13836px 1.13836px rgba(0, 0, 0, 0.25);
}
.grid-plans1 h2{
  font-weight: 400;
  font-size: 22.7673px;
  line-height: 26px;
  letter-spacing: 0.02em;
}
.grid-item-plan1 h1,.grid-item-plan3 h1{
  color: #000;
  margin:0 0 10px -20px;
}
.grid-plans1 p,.grid-plans p{
  font-weight: 700;
  margin: 5px 0 5px  0;
}
.grid-plans1 .content{
  text-align: left;
  box-sizing: border-box;
  width: 280px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.grid-plans1 .btn1{
  margin-top: 35px;
  background: var(--navy-blue);
  border-radius: 10px;
  line-height: 28px;
  color: var(--white-grey);
  cursor: pointer;
  width: 280px;
  height: 50px;
  border: none;
}
.grid-plans1 .btn2{
  margin-top: 35px;
  background: var(--white-grey);
  border-radius: 10px;
  color: var(--navy-blue);
  cursor: pointer;
  width: 280px;
  border: 1px solid var(--navy-blue);
  height: 50px;
}
.divider{
  padding: 20px 0;
  margin: 10px 0;
  text-align: center;
  background: var(--white);
  border-top:1px solid #E5E5E5;
}
.divider h1{
  height: 55px;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.02em;
}
.whats-in{
  display: flex;
  justify-content: center;
  height: fit-content;
  padding-bottom: 50px;
}
.whats-in .grid-whats{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.grid-whats .grid-item-whats1{
   width: 500px;
   height: 300px;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 18.75%, rgba(0, 0, 0, 0.8) 62.5%),url('../media/Rectangle\ 4.png') no-repeat center;
  background-size: cover;
   cursor: pointer;
  }
  .grid-whats .grid-item-whats2{
  width: 500px;
  height: 300px;
  background-size: cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 18.75%, rgba(0, 0, 0, 0.8) 62.5%),url('../media/Rectangle\ 8.png') no-repeat center;
  cursor: pointer;
}
.grid-whats .grid-item-whats3{
  width: 500px;
  height: 300px;
  background-size: cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 18.75%, rgba(0, 0, 0, 0.8) 62.5%),url('../media/Rectangle\ 9.png') no-repeat center;
  cursor: pointer;
  
}
.grid-whats .grid-item-whats4{
  width: 500px;
  height: 300px;
  background-size: cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 18.75%, rgba(0, 0, 0, 0.8) 62.5%),url('../media/Rectangle\ 13.png') no-repeat center;
  cursor: pointer;

}
.grid-whats p{
  padding-top: 250px;
  text-align: center;
  height: 28px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--white-grey);
}

.service{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 60px 50px 100px 50px;
}

.service a{
  color: var(--navy-blue);
  font-weight: 600;
  display: none;
}
.service .grid-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
  padding: 10px 0;
}
.service .grid-item h2{
  padding: 10px  0;
}

.contact-us{
  background-size: cover;
  background: url('../media/Rectangle\ 20.png');
  color:var(--white);
  padding: 0 50px 0 0;
}
.contact-us .grid-contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.contact-us .grid-contact .grid-contact-item1{
  padding: 50px 0 0 0;
}
iframe{
  width: 45vw;
  height: 43vw;
}
form{
  display: flex;
  flex-direction: column;
}
form .input{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
.opt{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
input{
  width: 20vw;
  padding:0 10px;
  color:var(--white);
  height: 40px;
  border: 3px solid var(--white);
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85))
}
textarea{
  padding: 10px;
  color:var(--white);
  width: 44vw;
  height: 150px;
  border: 3px solid var(--white);
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85))
}
form button{
  width: 15vw;
  height: 62px;
  background: var(--navy-blue);
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: var(--white-grey);
}
footer{
  background: #000;
  text-align: center;
  height: 50px;
  color: var(--white);
  padding-top: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
