@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
nav{
  color: white;
  display: flex;
}
nav .logo{
  background: url('./media/Globilink\ Logo\ 1.png');
  width: 137px;
  height: 116px;
}
nav ul{
  list-style: none;
  display: flex;
  padding-top: 30px;
  position: absolute;
  right: 50px;
}
nav ul li{
  padding-left: 30px;
  cursor: pointer;
}
.hero-image{
  padding-top: 10px;
  padding-left: 4%;
  height: 450px;
  color: white;
  text-align: center;
  background: url('./media/Rectangle\ 17.png');
}
.hero-image h1{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 55px;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
}
.hero-image h1 .blue{
  color: #2A95D0;
  margin-left: 10px;
  margin-right: 10px;
}
.hero-image p{
  height: 59px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.hero-image button{
  width: 150px;
  height: 50px;
  background: #2A95D0;
  border-radius: 10px;
  line-height: 28px;
  color: #FCFCFC;
  cursor: pointer;
}
.hero-image img{
  margin-top: 85px;
  cursor: pointer;
  width: 30px;
}
.plans{
  padding-top:30px;
  height: 742px;
  background: rgba(255, 255, 255, 0.91);
}
.plans h1{
  margin: 0 auto;
  width: 350px;
  height: 55px;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.02em;
}
.plans-button{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.plans-button .btn1{
  background: #2A95D0;
  border-radius: 10px;
  line-height: 28px;
  color: #FCFCFC;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: none;
}
.plans-button .btn2{
  background: #FCFCFC;
  border-radius: 10px;
  color: #2A95D0;
  cursor: pointer;
  width: 150px;
  border: 1px solid #2A95D0;
  height: 50px;
  margin-left: 41px;
}
.plans .grid-plans{
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(3,1fr);
  padding: 30px 100px 58px 80px;
}
.grid-plans .grid-item-plan1,.grid-item-plan2,.grid-item-plan3{
  width: 300px;
  margin-left: 20px;
  height: 483.81px;
  border-radius: 11.3836px;
}
.grid-item-plan1, .grid-item-plan3{
  text-align: center;
  padding: 25px 40px 23px 40px;
  background: #FCFCFC;
  border: 1.13836px solid #2A95D0;
  box-shadow: 0px 1.13836px 1.13836px rgba(0, 0, 0, 0.25);
}
.grid-item-plan2{
  text-align: center;
  padding: 25px 40px 23px 40px;
  background: #2A95D0;
  border: 1.13836px solid #FFFFFF;
  color: white;
  box-shadow: 0px 1.13836px 1.13836px rgba(0, 0, 0, 0.25);
}
.grid-plans h2{
  font-weight: 400;
  font-size: 22.7673px;
  line-height: 26px;
  letter-spacing: 0.02em;
}
.grid-plans .content{
  box-sizing: border-box;
  width: 280px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.grid-plans .btn1{
  margin-top: 35px;
  background: #2A95D0;
  border-radius: 10px;
  line-height: 28px;
  color: #FCFCFC;
  cursor: pointer;
  width: 280px;
  height: 50px;
  border: none;
}
.grid-plans .btn2{
  margin-top: 35px;
  background: #FCFCFC;
  border-radius: 10px;
  color: #2A95D0;
  cursor: pointer;
  width: 280px;
  border: 1px solid #2A95D0;
  height: 50px;
}
.divider{
  height: 156px;
  text-align: center;
  background: #FFFFFF;
}
.divider h1{
  height: 55px;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.02em;
}
.whats-in{
  padding: 0px 200px 50px 200px;
  height: 672px;
}
.whats-in .grid-whats{
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2,1fr);
}
 .grid-whats .grid-item-whats1{
  height: 336px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 18.75%, rgba(0, 0, 0, 0.8) 62.5%),url('./media/Rectangle\ 4.png');
  cursor: pointer;
}
.grid-whats .grid-item-whats2{
  height: 336px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 18.75%, rgba(0, 0, 0, 0.8) 62.5%),url('./media/Rectangle\ 8.png');
  cursor: pointer;
}
.grid-whats .grid-item-whats3{
  height: 336px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 18.75%, rgba(0, 0, 0, 0.8) 62.5%),url('./media/Rectangle\ 9.png');
  cursor: pointer;
}
.grid-whats .grid-item-whats4{
  height: 336px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 18.75%, rgba(0, 0, 0, 0.8) 62.5%),url('./media/Rectangle\ 13.png');
  cursor: pointer;
}
.grid-whats p{
  padding-top: 250px;
  text-align: center;
  height: 28px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.grid-service{
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  max-width: 100%;
}
.grid-item-service1{
  background: url('./media/Rectangle\ 29.png');
  height: 500px;
}
.grid-item-service2{
  background: url('./media/Rectangle\ 30.png');
  height: 500px;
}
.grid-item-service3{
  background: url('./media/Rectangle\ 31.png');
  height: 500px;
}
.grid-service .content{
  padding: 240px 20px 20px 30px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 41px;
  letter-spacing: 0.02em;
}

.contact-us{
  height: 450px;
  background: url('./media/Rectangle\ 20.png');
}
footer{
  background: #000;
  text-align: center;
  height: 50px;
  color: #ffff;
  padding-top: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
